header {
    width: 100%;
    padding : 10px 20px;
    background-color: rgb(43, 51, 60);
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        align-items: center;
        .logo {
            margin-right: 10px;
            margin-bottom: -2px;
            margin-left: 10px;
        }
        .title {
            font-size: 28px;
            a {
                text-decoration: none;
                color: #ddd;
            }
            margin-right: 60px;
        }
        .menu {
            margin-left: 40px; 
            a {
                text-decoration: none;
                color: #ddd;
            }
        }
    }
    .account {
        margin-right: 40px; 
    }
}