.result {
    width: 100%;
    border-bottom: solid 1px #ccc;
    padding: 10px 0;
    color: #333333;
    .thumbnail {
        position: relative;
        top: -4px;
        width: 7%;
        img {
            width: 70px;
            height: 70px;
            margin-right: 20px;
        }
    }
    .text {
        position: relative;
        width: 93%;
        top: 10px;
    }
    > div {
        display: inline-block;
    }
    div.title {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #5d6aaa;
        cursor: pointer;
    }
    div.subtitle > div {
        position: relative;
        display: inline-block;
        margin-right: 20px;
        top: 5px;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .address {
        width: 380px;
    }
    .phone {
        width: 120px;
        font-weight: bold;
    }
    .email {
        width: 180px;
        color: #5d6aaa;
    }
    .items {
        width: 120px;
    }
    .createdOn {
        position: absolute;
        top: 4px;
        right: 10px;
        font-size: 15px;
    }
}
.result:nth-of-type(1) {
    border-top: solid 1px #ccc;
} 

