.newSearch {
    h4 {
        margin-bottom: 20px;
    }
}

.divider {
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.savedSearches {
    margin-top: 20px;
}