.facets {
    width: 290px;
    padding-left: 30px;
    font-size: 15px;
    .title {
        text-transform: uppercase;
        padding-bottom: 10px;
        font-weight: bold;
        color: #666;

    }
    ul.values {
        padding-left: 0;
        li {
            list-style-type: none;
            display: inline-block;
            display: flex;
            justify-content: flex-end;
            color: #333;
        }
        .label {
            // color: red;
            // border: solid 1px gray;
            label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 120px;
            }
        }
        .count {
            //width: 80px;
            font-size: 13px;
            text-align: right;
            position: relative;
            top: 3px;
            padding: 0;
            margin: 0;
            // color: blue;
            // border: solid 1px gray;
        }
    } 
}
